{% extends 'bootstrap_3_layout.html.twig' %}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{%- block form_start -%}
    {%- set attr = attr|merge({'role': 'form'}) -%}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block widget_container_attributes -%}
    {%- set attr = attr|merge({'class': 'box-body'}) -%}
    {{- parent() -}}
{%- endblock widget_container_attributes -%}

{%- block date_time_range_row -%}
    {{- form_widget(form) -}}
{%- endblock -%}

{%- block date_time_range_widget -%}
    <div class="row">
        <div class="col-sm-12 form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                {{ form_widget(form.date) }}
            </div>
        </div>
        <div class="col-sm-6 form-group">
            {{ form_label(form.startsAt) }}
            {{ form_errors(form.startsAt) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                {{ form_widget(form.startsAt) }}
            </div>
        </div>
        <div class="col-sm-6 form-group">
            {{ form_label(form.endsAt) }}
            {{ form_errors(form.endsAt) }}
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                {{ form_widget(form.endsAt) }}
            </div>
        </div>
    </div>
{%- endblock -%}
