{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}group{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'admin.group.index.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'admin.group.name'|trans }}</th>
            <th>{{ 'admin.group.roles'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.roles }}</td>
                <td class="text-right">
                    <a href="{{ path('admin_group_show', { 'id': entity.id }) }}"
                       class="btn btn-sm btn-default"
                       title="{{ 'admin.group.action.show'|trans }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('admin_group_edit', { 'id': entity.id }) }}"
                       class="btn btn-sm btn-default"
                       title="{{ 'admin.group.action.edit'|trans }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ path('admin_group_delete', { 'id': entity.id }) }}"
                       class="btn btn-sm btn-danger"
                       title="{{ 'admin.group.action.delete'|trans }}"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:adminMenu', 'Groups'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
