{% extends "AppBundle::layoutError.html.twig" %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block header %}{{ status_code }} {{ status_text }}{% endblock %}

{% block content %}
    <h2 class="headline text-red">{{ status_code }}</h2>
    <div class="error-content" style="padding-top: 18px;">
        <h3><i class="fa fa-warning text-red"></i> Oops! {{ status_text }}</h3>
        <p>
            Meanwhile, you may <a href="{{ path('dashboard_index') }}">return to dashboard</a> or try again later. Sorry for any inconvenience caused.
        </p>
    </div>
{% endblock %}
