{% extends "AppBundle::base.html.twig" %}

{% block title %}{% block subtitle %}{% endblock subtitle %}{{ 'template.title'|trans }}{% endblock title %}

{% block navbar %}
    {{ knp_menu_render('appbundle_main_menu', {}, 'appbundle_navbar_renderer') }}
    {{ knp_menu_render('appbundle_user_menu', {'depth': 2, 'dropdown': true, 'listAttributes': {'class': 'nav navbar-nav navbar-right'}}, 'appbundle_navbar_renderer') }}
    {{ knp_menu_render('appbundle_team_menu', {'listAttributes': {'class': 'nav navbar-nav navbar-right'}}, 'appbundle_navbar_renderer') }}
{% endblock %}

{% block body %}
    {% set messageTypeClasses = { 'success': 'alert-success', 'info': 'alert-info', 'warning': 'alert-warning', 'error': 'alert-danger'} %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert{% if messageTypeClasses[type] is defined %} {{ messageTypeClasses[type] }}{% endif %}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block content %}
    {% endblock content %}
{% endblock %}
