{% extends "AppBundle::layoutOffCanvas.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}timeentry{% endblock class %}

{% block titleOffCanvas %}
    <h1>Time Entries</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Starts At</th>
            <th>Ends At</th>
            <th>Project</th>
            <th>Task</th>
            <th>Note</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
                <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
                <td>{{ entity.project }}</td>
                <td>{{ entity.task }}</td>
                <td>{{ entity.note }}</td>
                <td class="text-right">
                    <a href="{{ path('timeentry_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default"><i
                                class="fa fa-eye"></i></a>
                    <a href="{{ path('timeentry_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-default"><i
                                class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ path('timeentry_delete', { 'id': entity.id }) }}" class="btn btn-sm btn-danger"><i
                                class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Time Entries'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
