{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}timeentry{% endblock class %}

{% block content %}
    <h1>Time Entry</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Date</th>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Starts At</th>
            <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Ends At</th>
            <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Project</th>
            <td>{{ entity.project }}</td>
        </tr>
        <tr>
            <th>Task</th>
            <td>{{ entity.task }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('timeentry_index') }}" class="btn btn-default">Index</a>
        <a href="{{ path('timeentry_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
        <a href="{{ path('timeentry_delete', { 'id': entity.id }) }}" class="btn btn-danger">Delete</a>
    </div>
{% endblock content %}
