{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}timeentry{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'timeEntry.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'timeEntry.entity.date'|trans }}</th>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'timeEntry.entity.startsAt'|trans }}</th>
            <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'timeEntry.entity.endsAt'|trans }}</th>
            <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'timeEntry.entity.project'|trans }}</th>
            <td>{{ entity.project }}</td>
        </tr>
        <tr>
            <th>{{ 'timeEntry.entity.task'|trans }}</th>
            <td>{{ entity.task }}</td>
        </tr>
        <tr>
            <th>{{ 'timeEntry.entity.note'|trans }}</th>
            <td>{{ entity.note }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'timeEntry'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
