{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}task{% endblock class %}

{% block content %}
    <h1>Tasks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('task_show', { 'id': entity.id }) }}" class="btn btn-default">Show</a>
                        {% if is_granted('EDIT', entity) %}
                            <a href="{{ path('task_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
                            <a href="{{ path('task_delete', { 'id': entity.id }) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        {% if is_granted('EDIT', app.user.activeTeam) %}
            <a href="{{ path('task_new') }}" class="btn btn-default">New</a>
        {% endif %}
    </div>
{% endblock content %}
