{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}task{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'task.template.index.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'task.entity.name'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td class="text-right">
                    <a href="{{ path('task_show', { 'id': entity.id }) }}"
                       class="btn btn-sm btn-default"
                       title="{{ 'task.action.show'|trans }}"><i class="fa fa-eye"></i></a>
                    {% if is_granted('EDIT', entity) %}
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default"
                           title="{{ 'task.action.edit'|trans }}"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('task_delete', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-danger"
                           title="{{ 'task.action.delete'|trans }}"><i class="fa fa-times"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'task'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
