{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}task{% endblock class %}

{% block content %}
    <h1>Task list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        {% if is_granted('EDIT', entity) %}
                            <li>
                                <a href="{{ path('task_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted('EDIT', app.user.activeTeam) %}
            <li>
                <a href="{{ path('task_new') }}">
                    Create a new entry
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock content %}
