{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}task{% endblock class %}

{% block titleOffCanvas %}
    <h1>Tasks</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td class="text-right">
                    <a href="{{ path('task_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default"><i
                                class="fa fa-eye"></i></a>
                    {% if is_granted('EDIT', entity) %}
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-default"><i
                                    class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('task_delete', { 'id': entity.id }) }}" class="btn btn-sm btn-danger"><i
                                    class="fa fa-times"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Tasks'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
