{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}team_membership{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'teamMembership.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'membership.entity.user'|trans }}</th>
            <td>{{ entity.user }}</td>
        </tr>
        <tr>
            <th>{{ 'membership.entity.group'|trans }}</th>
            <td>{{ ('membership.value.group.' ~ entity.group.name)|trans }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:teamMenu', 'team', 'team.membership'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
