{% extends "AppBundle::layoutSidebar.html.twig" %}

{% block class %}team{% endblock class %}

{% block header %}
    <h1>{{ 'admin.team.template.show.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'team.entity.name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'team.entity.projects'|trans }}</th>
            <td>
                <ul>
                    {% for project in entity.projects %}
                        <li>{{ project }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_admin_menu', 'admin', 'admin.team'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
