{% extends "AppBundle::layoutOffCanvas.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}team{% endblock class %}

{% block titleOffCanvas %}
    <h1>Teams</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('team_show', { 'id': entity.id }) }}" class="btn btn-default">Show</a>
                        {% if is_granted('EDIT', entity) %}
                            <a href="{{ path('team_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
                            <a href="{{ path('team_delete', { 'id': entity.id }) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Teams'], {'template': 'AppBundle:Menu:sidebar.html.twig'}) }}
{% endblock sidebarOffCanvas %}
