{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}team{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'team.template.index.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'team.entity.name'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity == app.user.activeTeam %}<i class="fa fa-star"
                                                             title="{{ 'team.template.activeTeam'|trans }}"></i>&nbsp;{% endif %}{{ entity.name }}</td>
                <td class="text-right">
                    <a href="{{ path('team_show', { 'id': entity.id }) }}"
                       class="btn btn-sm btn-default"
                       title="{{ 'team.action.show'|trans }}"><i class="fa fa-eye"></i></a>
                    {% if is_granted('EDIT', entity) %}
                        <a href="{{ path('team_membership_index', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default"
                           title="{{ 'team.action.memberships'|trans }}"><i class="fa fa-users"></i></a>
                        <a href="{{ path('team_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default"
                           title="{{ 'team.action.edit'|trans }}"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('team_delete', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-danger"
                           title="{{ 'team.action.delete'|trans }}"><i class="fa fa-times"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:teamMenu', 'Teams'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
