{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block class %}team{% endblock class %}

{% block content %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Memberships</th>
            <td>
                <ul>
                    {% for memberhsip in entity.memberships %}
                        <li>{{ memberhsip }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Projects</th>
            <td>
                <ul>
                    {% for project in entity.projects %}
                        <li>{{ project }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Tasks</th>
            <td>
                <ul>
                    {% for task in entity.tasks %}
                        <li>{{ task }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('team') }}">
                Back to the list
            </a>
        </li>
        {% if is_granted('EDIT', entity) %}
            <li>
                <a href="{{ path('team_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock content %}
