{% extends "AppBundle::layoutLogin.html.twig" %}
{% form_theme form 'AppBundle:Form:adminLte.html.twig' %}

{% block content %}
    <p class="login-box-msg">{{ 'resetting.template.request.message'|trans }}</p>
    <form action="" method="post">
        {{ form_row(form._token) }}
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="{{ 'user.entity.email'|trans }}" name="appbundle_resetting_request_form[email]" value="{{ form.vars.value.email }}" required="required" autofocus="autofocus"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {{ form_errors(form.email) }}
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" name="appbundle_resetting_request_form[submit]">{{ 'resetting.template.request.submit'|trans }}</button>
            </div>
        </div>
    </form>

    <a href="{{ path('security_login') }}" class="text-center">{{ 'resetting.template.request.login'|trans }}</a>
{% endblock %}
