{% extends "AppBundle::layoutSidebar.html.twig" %}

{% block class %}user{% endblock class %}

{% block header %}
    <h1>{{ 'admin.user.template.index.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <div class="box-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'user.entity.username'|trans }}</th>
                <th>{{ 'user.entity.email'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    <td class="text-right">
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default"
                           title="{{ 'user.action.show'|trans }}"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default"
                           title="{{ 'user.action.edit'|trans }}"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('admin_user_delete', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-danger"
                           title="{{ 'user.action.delete'|trans }}"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'AppBundle:Pagination:footer.html.twig' %}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_admin_menu', 'admin', 'admin.user'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
