{% extends 'AppBundle::layoutOffCanvas.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block class %}team_invitation{% endblock class %}

{% block titleOffCanvas %}
    <h1>Team Invitations</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.email }}</td>
                <td>{{ entity.status }}</td>
                <td class="text-right">
                    <a href="{{ path('team_invitation_show', { 'id': team.id, 'invitationId': entity.id }) }}" class="btn btn-sm btn-default"><i
                                class="fa fa-eye"></i></a>
                    {% if is_granted('EDIT', entity.team) %}
                        <a href="{{ path('team_invitation_edit', { 'id': team.id, 'invitationId': entity.id }) }}" class="btn btn-sm btn-default"><i
                                    class="fa fa-pencil-square-o"></i></a>
                        <a href="{{ path('team_invitation_delete', { 'id': team.id, 'invitationId': entity.id }) }}" class="btn btn-sm btn-danger"><i
                                    class="fa fa-times"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Teams'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}