{% extends 'AppBundle::layoutOffCanvasMain.html.twig' %}

{% block class %}invitation{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'invitation.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'invitation.entity.email'|trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ 'invitation.entity.status'|trans }}</th>
            <td>{{ ('invitation.value.status.' ~ entity.status.name)|trans }}</td>
        </tr>
        {% if entity.user %}
        <tr>
            <th>{{ 'invitation.entity.user'|trans }}</th>
            <td>{{ entity.user }}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Teams', 'Invitations'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}