{% extends "AppBundle::layout.html.twig" %}

{% block class %}{{ parent() }} login{% endblock class %}

{% block content %}
    <div class="panel panel-default form-login">
        <form action="{{ path("security_login_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <h2 class="form-login-heading">{{ 'security.template.login.title'|trans }}</h2>
            <label for="inputEmail" class="sr-only">{{ 'security.login.entity.username'|trans }}</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Email address" name="_username"
                   value="{{ entity.username }}" required autofocus>
            <label for="inputPassword" class="sr-only">{{ 'security.login.entity.password'|trans }}</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="_password"
                   required>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me" value="on"/> {{ 'security.login.entity.rememberMe'|trans }}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    name="_submit">{{ 'security.login.entity.submit'|trans }}</button>
        </form>
        <ul class="list-actions">
            <li><a href="{{ path("resetting_request") }}">{{ 'security.login.action.resetting'|trans }}</a></li>
            <li><a href="{{ path("registration_register") }}">{{ 'security.login.action.registration'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
