<li class="dropdown user user-menu">
    <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ gravatar(app.user.email, 25) }}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ item.label }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="{{ gravatar(app.user.email, 90) }}" class="img-circle" alt="User Image">
            <p>
                {{ app.user.username }}
                <small>Lorem ipsum</small>
            </p>
        </li>
        {% for child in item.children %}
            {% if child.extras['template'] is defined %}
                {% include child.extras['template'] with {'item': child} %}
            {% endif %}
        {% endfor %}
    </ul>
</li>
