{% extends "AppBundle::layoutSidebar.html.twig" %}

{% block class %}absence{% endblock class %}

{% block header %}
    <h1>{{ 'absence.template.index.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <div class="box-header">
        <div class="pull-left">
            {% include 'AppBundle::dateRangePicker.html.twig' %}
        </div>
        <div class="pull-right">
            <select class="form-control" id="items-select">
                <option{% if pagination.itemNumberPerPage == 10 %} selected{% endif %}>10</option>
                <option{% if pagination.itemNumberPerPage == 20 %} selected{% endif %}>20</option>
                <option{% if pagination.itemNumberPerPage == 50 %} selected{% endif %}>50</option>
            </select>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'absence.entity.date'|trans }}</th>
                <th>{{ 'absence.entity.startsAt'|trans }}</th>
                <th>{{ 'absence.entity.endsAt'|trans }}</th>
                <th>{{ 'absence.entity.reason'|trans }}</th>
                <th>{{ 'absence.entity.note'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td>{% if entity.dateTimeRange.date %}{{ entity.dateTimeRange.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.dateTimeRange.startsAt %}{{ entity.dateTimeRange.startsAt|date('H:i') }}{% endif %}</td>
                    <td>{% if entity.dateTimeRange.endsAt %}{{ entity.dateTimeRange.endsAt|date('H:i') }}{% endif %}</td>
                    <td>{{ entity.reason|trans }}</td>
                    <td>{{ entity.note }}</td>
                    <td class="text-right">
                        <div class="btn btn-sm btn-default"
                             title="{{ 'absence.action.edit'|trans }}"
                             onclick="$('#entryModal').EntryModal('editAbsence', {{ entity.id }});">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'AppBundle:Pagination:footer.html.twig' %}
    {% include 'AppBundle::/modal.container.html.twig' %}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'absence'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include 'AppBundle::dateRangePicker.js.twig' %}

        $('#entryModal').EntryModal({
            entryUrl: '{{ path('timeentry_create') }}',
            absenceUrl: '{{ path('absence_create') }}'
        });
    </script>
{% endblock %}
