{% extends "AppBundle::layoutOffCanvasUser.html.twig" %}

{% block class %}profile_membership{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'profileMembership.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'membership.entity.team'|trans }}</th>
            <td>{{ entity.team }}</td>
        </tr>
        <tr>
            <th>{{ 'membership.entity.group'|trans }}</th>
            <td>{{ entity.group|trans }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:userMenu', 'profile', 'profile.membership'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}