{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="row" >
    {% include 'AppBundle:Form:dateTimeRangeInputs.html.twig' %}

    <div class="col-md-12">
        {{ form_row(form.note) }}
        {{ form_row(form.reason) }}
    </div>
</div>
{{ form_end(form) }}