{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}absence{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'absence.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'absence.entity.date'|trans }}</th>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.entity.startsAt'|trans }}</th>
            <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.entity.endsAt'|trans }}</th>
            <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.entity.reason'|trans }}</th>
            <td>{{ entity.reason|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'absence.entity.note'|trans }}</th>
            <td>{{ entity.note }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'absence'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
