{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}absence{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'absence.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'absence.date'|trans }}</th>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.startsAt'|trans }}</th>
            <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.endsAt'|trans }}</th>
            <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'absence.reason'|trans }}</th>
            <td>{{ 'absence.reason.' ~ entity.reason }}</td>
        </tr>
        <tr>
            <th>{{ 'absence.note'|trans }}</th>
            <td>{{ entity.note }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Absences'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
