{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}absence{% endblock class %}

{% block titleOffCanvas %}
    <h1>Absence</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>Date</th>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Starts At</th>
            <td>{% if entity.startsAt %}{{ entity.startsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Ends At</th>
            <td>{% if entity.endsAt %}{{ entity.endsAt|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Reason</th>
            <td>{{ entity.reason }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Absences'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
